.overlay {
	position: fixed;
	background:rgba(44,62,80,0.8);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	z-index: 1040;
	.container {
		position: relative;
		height: 100%;
		width: 100%;
		a.close-btn {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 10px 25px;
			margin: 20px;
			display: inline-block;
			color: #fff;
			font-size: 25px;
			opacity: .65;
			&:hover {
				opacity: 1;
			}
		}
		.full-image {
			position: absolute;
			width: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1045;
			img {
				max-width: 800px;				
				width: 100%;
				display: block;
				margin: 0 auto;
				cursor: pointer;
			}
		}			
		
	}

}